# Variables de Entorno para Producción

# ================================
# SERVIDOR NGINX
# ================================
# El puerto principal expuesto será el 80 según el docker-compose.yml,
# por lo que no es estrictamente necesario cambiar esto a menos que uses otro puerto interno
PORT=80

# ================================
# SERVIDOR DE BACKEND
# ================================
# Solo se usa internamente entre la red de dockers. Nginx redirecciona a esto.
BACKEND_PORT=3001
NODE_ENV=production

# ================================
# CREDENCIALES
# ================================
# Supabase para autenticarse (OBLIGATORIO)
SUPABASE_URL=aqui_va_tu_url_de_supabase
SUPABASE_SERVICE_KEY=aqui_va_tu_service_key_de_supabase_no_la_anonima

# (Nota: El backend toma las APIs Keys de IA desde Supabase,
# por lo tanto NO hace falta quemar GEMINI_API_KEY u OPENAI aquí).
